# python cache
__pycache__/

# Vs Code Config
.vscode/
.env

# Site Packages
site-packages/
site_packages/
packages/

# Get PIP
get-pip.py

# Houdini HDA backup dir
backup

# Thinkbox Deadline Certificates
*.pfx

# Aws EC2 public key
*.pem

# CSV
*.csv

# Remote Connection Server Cert
*.crt

# Ignore the Certificates dir as well
certs/